services:
  postgres:
    image: postgres:15-alpine
    container_name: postgres
    environment:
      POSTGRES_PASSWORD: password
      POSTGRES_USER: xwl
      POSTGRES_DB: nest-learn
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    restart: unless-stopped
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U xwl -d nest-learn"]
      interval: 10s
      timeout: 5s
      retries: 5

volumes:
  postgres_data: